# Git Ignore for Meta Boxes Above Editor
# -----------------------------------------------------------------------------

# Kapow! setup script.
# -------------------------------------
kapow.sh

# Flotsam & Jetsam.
# -------------------------------------
.DS_Store
